body {
  font-family: sans-serif !important;
  font-size: 16px;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.users {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0 1099px;
  border-radius: 10px;
  background-color: #c4c4c4;
}

.user-card {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.user-name.male {
  color: #2b2da8;
}

.user-name.female {
  color: rgb(99, 41, 41);
}

.user-card:hover {
  background-color: #eee;
  border-radius: 10px;
}

.form{
  display: flex;
  flex-direction: column;
}
label{
  display: flex;
    flex-direction: column;
    font-size: 20px !important;
}
.gender label{
  display: inline;
}
input{
  width: 200px;
  height: 20px;
}